.calendar-board {
  display: flex;
  background: #fff;
  padding: 20px 15px;

  &__icon {
    font-size: 25px;
    margin-right: 10px;
    color: #a2a7a7;
  }

  &__day {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    border-bottom: 3px solid #a2a7a7;
    color: #a2a7a7;

    &_date {
      font-size: 12px;
      padding-bottom: 5px;
    }

    &_text {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0 10px 5px 10px;
    }
  }
}

.active-day {
  color: #1eb7ee;
  border-color: #1eb7ee;;
}