
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #fff;
}

th {
  padding: 20px 15px;
  color: rgb(88, 82, 82);
}

tbody > tr:nth-child(odd) {
  background-color: #c6dcd4;
}

tbody > tr:nth-child(even) {
  background-color: #fff;
}

.no-flights {
  height: 200px;
  font-size: 18px;
  background-color: #fff;
  color: #383434;
}
